KERNEL=="sd*[0-9]",ACTION=="add",RUN+="/home/marius/desktop/deamons/side-amount add %E{DEVNAME} %k"

KERNEL=="sd*[0-9]",ACTION=="remove",RUN+="/home/marius/desktop/deamons/side-amount remove %E{DEVNAME} %k"
