KERNEL=="sd*[0-9]",ACTION=="add",RUN+="/bin/side-amount add %E{DEVNAME} %k"

KERNEL=="sd*[0-9]",ACTION=="remove",RUN+="/bin/side-amount remove %E{DEVNAME} %k"
