[Desktop Entry]
Version=1.0
Type=Application
Name=SiDE Settings
Comment=Configures your SiDE session!
Exec=side-settings-explorer
Categories=Settings;
Icon=applications-system
