[Desktop Entry]
Version=1.0
Type=Application
Name=SiDE View
Comment=Basic Picture Viewer for SiDE
Exec=side-view
Categories=Utility;
Icon=applications-graphics
MimeType=image/png;image/jpeg;image/gif;image/tiff/;image/x-xpixmap;image/svg;image/svg-xml;
